<footer class="container">
  <hr>
  <div class="row">
    <div class="col-xs-12 col-md-6">
      <p>
        <%= link_to "Employer Login", new_employer_session_path %>
      </p>
      <p>
        <a href="https://www.itcareerweek.org/">IT Career Week</a>
      </p>
      <p>
        <a href="https://www.itsociety.rocks">IT Society MMU Cyberjaya</a>
      </p>
    </div>
    <div class="col-xs-12 col-md-6">
      <p>Copyright 2016 - IT Society MMU Cyberjaya.</p>
      <p><a href="https://github.com/anonoz/itcwresume">Source code</a></p>
    </div>
  </div>
</footer>
