<footer class="container">
  <hr>
  <div class="row">
    <div class="col-xs-12 col-md-6">
      <p>
        <%= link_to "Employer Login", new_employer_session_path %>
      </p>
      <p>
        <a href="https://www.itcareerweek.org/">Tech Career Days</a>
      </p>
      <p>
        <a href="https://www.itsociety.rocks">IT Society MMU Cyberjaya</a>
      </p>
      <p>
         <%= link_to "Volunteer Login", new_vetter_session_path %>
      </p>
    </div>
    <div class="col-xs-12 col-md-6">
      <p>Copyright 2017 - IT Society MMU Cyberjaya.</p>
      <p class="built-by-me">Built by Anonoz. Updated by Danny. <span class="show-when-hover">If you love this website tell me OK.</span></p>
      <p><a href="https://github.com/dannyongtey/itcwresume">Source code</a></p>
    </div>
  </div>
</footer>
