<div class="container">
  <div class="page-header">
    <h2>Resume Checklist</h2>
  </div>
  <div class="row">
    <div class="col-xs-12 col-lg-4">
      <h3>File Format</h3>
      <ul>
        <li>Saved as PDF</li>
        <li>1 page only</li>
        <li>File size limit &lt;1MB</li>
      </ul>
    </div>
    <div class="col-xs-12 col-lg-4">
      <h3>Try To Put</h3>
      <ul>
        <li>Your name should be the most visible element</li>
        <li>Contact information including phone number (with country code), professional looking e-mail address</li>
        <li>Programming languages, frameworks, and game engines you are confident in using</li>
        <li>Additional experiences, leadership experiences, awards, dean's lists, and etc</li>
        <li>Certifications</li>
        <li>Your own side projects and hacks outside course structure (for the lack of job experiences)</li>
        <li>Links to your portfolio, GitHub, etc</li>
      </ul>
    </div>
    <div class="col-xs-12 col-lg-4">
      <div class="panel panel-danger">
        <div class="panel-heading">
          <h3>Do Not Put!!</h3>
        </div>
        <div class="panel-body">
          <ul>
            <li>Photo</li>
            <li>Home address</li>
            <li>Gender, religion, marital status, ethnicity, NRIC/passport number, age</li>
            <li>Education history before diploma/degree</li>
            <li>Irrelevant past job experiences</li>
            <li>IDEs, text editors, and Microsoft Office as skill sets</li>
            <li>Personal interests and hobbies</li>
            <li>Boilerplate summary and objectives</li>
            <li>Expected salary</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
