<div class="container">
  <div class="page-header">
    <h2>Resume Checklist</h2>
  </div>
  <div class="row">
    <div class="col-xs-12 col-lg-4">
      <h3>File Format</h3>
      <ul>
        <li>Saved as PDF</li>
        <li>1 page only</li>
        <li>File size limit &lt;1MB</li>
      </ul>
    </div>
    <div class="col-xs-12 col-lg-4">
      <h3>Try To Put</h3>
      <ul>
        <li>Full Name as the most visible element</li>
        <li>Contact information including phone number (with country code), working e-mail address</li>
        <li>Programming languages, frameworks, and game engines you are confident in using</li>
        <li>Additional experiences, leadership experiences, awards, dean's lists, and etc</li>
        <li>Your own side projects and hacks outside course structure</li>
      </ul>
    </div>
    <div class="col-xs-12 col-lg-4">
      <h3>Do Not Put</h3>
      <ul>
        <li>Photo</li>
        <li>Home Address</li>
        <li>Irrelevant past job experiences</li>
        <li>IDEs, text editors, and Microsoft Office as skill sets</li>
        <li>Programming languages and frameworks that you are not confident with</li>
        <li>Cover letters</li>
      </ul>
    </div>
  </div>
</div>
