<div class="container">
  <div class="page-header">
    <h2>Resources</h2>
  </div>
  <div class="row">
    <div class="col-xs-12 col-lg-4">
      <h3>Free Resume Printing</h3>
      <p>When you upload your resume to this website, you can print your resume for free during the event.</p>
      <p>Give your student ID to the volunteers that day. For security reasons, we do not accept USB drives.</p>
    </div>
    <div class="col-xs-12 col-lg-4">
      <h3>Guides</h3>
      <ul>
        <li><a href="http://www.gayle.com/career-advice/" target="_blank">Gayle's Career Advices <b>(!!!)</b></a></li>
        <li><a href="http://www.joelonsoftware.com/articles/ResumeRead.html">Joel on Software - Getting Your Resume Read</a></li>
        <li><a href="https://forum.lowyat.net/Jobs&Careers" target="_blank">Lowyat.net Forum - Jobs &amp; Careers</a></li>
        <li><a href="https://www.themuse.com/tags/resumes-cover-letters" target="_blank">The Muse Career Advice Blog</a></li>
      </ul>
    </div>
    <div class="col-xs-12 col-lg-4">
      <h3>Samples</h3>
      <ul>
        <li><a href="/samples/light.pdf" target="_blank">Lightweight</a></li>
        <li><a href="https://docs.google.com/document/d/1XBkgAYrFE8oAL7yTgU_LOwFeGec1gC4JgkblfgPBSLQ/preview?markAsViewed=false&isTemplatePreview=true" target="_blank">Joey</a></li>
        <li><a href="/samples/hii.pdf" target="_blank">Hii</a></li>
        <li><a href="/samples/henry.pdf" target="_blank">Henry</a></li>
        <li><a href="https://www.anonoz.com/cv-chinese.pdf" target="_blank">Chinese</a></li>
      </ul>
    </div>
  </div>
</div>
