<div class="container">
  <div class="page-header">
    <h2>Trends</h2>
  </div>
  <div class="row">
    <div class="col-xs-12 col-md-6">
      <h3>Resume Uploads</h3>
      <% sum = 0 %>
      <%= line_chart Resume.latest_submissions.group_by_day(:created_at).count.map { |x,y| {x => (sum += y)} }.reduce({}, :merge)%>
    </div>
    <div class="col-xs-12 col-md-6">
      <h3>Jobseeker Types</h3>
      <%= pie_chart({
        "Full-timer" => @job_types_count[1],
        "Interns" => @job_types_count[2],
        "Freelancers" => @job_types_count[3]},
        colors: ["green", "blue", "red"]) %>
    </div>
  </div>
</div>
