<div class="jumbotron">
  <div class="container">
    <h1>IT Career Week Resume Submission</h1>
    <p>Submit your resume.pdf, get advices from ITCW volunteers, and get contacted by employers before the event.</p>
  </div>
</div>
<div class="container">
  <p>Login with your MMU gmail account to verify your identity.</p>
  <%= link_to "Sign in with Google", student_google_oauth2_omniauth_authorize_path, class: 'btn btn-danger' %>
  <p>Resume checklist:</p>
  <ul>
    <li>Saved in .pdf, .doc, or .docx.</li>
    <li>1 page only.</li>
  </ul>
  <p>Make sure you put:</p>
  <ul>
    <li>Full name</li>
    <li>Contact information including phone number (with country code), working e-mail address</li>
    <li>Programming languages and frameworks you are confident in using</li>
    <li><b>BONUS:</b> Your side projects and hacks outside your courseworks!</li>
  </ul>
  <p>Do not put:</p>
  <ul>
    <li>Photo</li>
    <li>Home Address</li>
    <li>Irrelevant past job experiences</li>
    <li>IDEs as skill set</li>
    <li>Programming languages and frameworks that you have only spent 1 day doing tutorial on</li>
  </ul>
  <p>Not sure how to prepare a resume? Check these links out:</p>
  <ul>
    <li><a href="http://www.gayle.com/career-advice/">Gayle Laakmann McDowell's Career Advices</a></li>
  </ul>
  <p>Samples:</p>
  <ul>
    <li><a href="https://docs.google.com/document/d/1XBkgAYrFE8oAL7yTgU_LOwFeGec1gC4JgkblfgPBSLQ/preview?markAsViewed=false&isTemplatePreview=true">Joey</a></li>
    <li><a href="https://www.anonoz.com/cv.pdf">Anonoz</a></li>
    <li><a href="/hii-sample.pdf">Hii</a></li>
  </ul>
</div>
<footer>
  <div class="row">
    <div class="col-md-6">
      <ul>
        <li>Link</li>
      </ul>
    </div>
  </div>
</footer>
