<div class="jumbotron main">
  <div class="container">
    <h1>IT Career Week Resume Submission</h1>
    <p>Submit your resume.pdf, get advices from ITCW volunteers, and get contacted by employers before the event.</p>
    <p>
      <%= link_to "Sign in with Google", student_google_oauth2_omniauth_authorize_path, class: 'btn btn-danger btn-lg' %>
    </p>
    <small>Use your @student.mmu.edu.my Google account to verify your identity.</small>
  </div>
</div>
<%= render "resume_checklist" %>
<%= render "resource_links" %>
<%= render "footer" %>
