<div class="jumbotron main">
  <div class="container">
    <h1>Tech Career Days Resume Submission</h1>
		<p>Submit your resume.pdf, get advices from TCD volunteers, and get contacted by employers before the event.</p>
     <p>
       <%= link_to "Sign in with Google", student_google_oauth2_omniauth_authorize_path, class: 'btn btn-danger btn-lg' %>
     </p>
    <small>Use your @student.mmu.edu.my Google account to verify your identity. Password same as MMLS.</small>  </div>
</div>
<%= render "footer" %>
