<h1>Submit your resume for ITCW employers here.</h1>
<p>Login with your MMU gmail account to verify your identity.</p>
<%= link_to "Sign in with Google", student_google_oauth2_omniauth_authorize_path %>
