<h1>Submit your resume for ITCW employers here.</h1>
<p>Login with your MMU gmail account to verify your identity.</p>
<%= link_to "Sign in with Google", student_google_oauth2_omniauth_authorize_path %>
<p>Resume checklist:</p>
<ul>
  <li>Saved in .pdf, .doc, or .docx.</li>
  <li>1 page only.</li>
</ul>
<p>Make sure you put:</p>
<ul>
  <li>Full name</li>
  <li>Contact information including phone number (with country code), working e-mail address</li>
  <li>Programming languages and frameworks you are confident in using</li>
</ul>
<p>Do not put: (auto rejection)</p>
<ul>
  <li>Photo</li>
  <li>Home Address</li>
  <li>Irrelevant past job experiences</li>
  <li>IDEs as skill set</li>
  <li>Programming languages and frameworks that you have only spent 1 day doing tutorial on</li>
</ul>
