<div class="col-xs-12 col-lg-4">
  <div class="panel panel-success">
    <div class="panel-heading">
      <h3 class="panel-title">Upload Resume</h3>
    </div>
    <div class="panel-body">
      <p><b>Status: Approved</b></p>
      <p>Your resume looks good! It's now made available for the recruiters' perusal.</p>
      <hr>
      <p>
        <%= link_to "Upload New", new_resume_path, class: 'btn btn-default' %>
      </p>
      <%= link_to "Open Current Upload", open_resume_path %>
    </div>
  </div>
</div>