<div class="col-xs-12 col-lg-4">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">Upload Resume</h3>
    </div>
    <div class="panel-body">
      <p>You have yet to upload one!</p>
      <hr>
      <%= link_to "Upload", new_resume_path, class: 'btn btn-primary' %>
    </div>
  </div>
</div>