<div class="col-xs-12 col-lg-4">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">Ticket</h3>
    </div>
    <div class="panel-body">
      <p>Don't want to waste your time queueing? Register for your ticket here.</p>
      <hr>
      <a href="#" class="btn btn-default" target="_blank">Register on Eventbrite</a>
    </div>
  </div>
</div>
