<div class="col-xs-12 col-lg-4">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">Ticket</h3>
    </div>
    <div class="panel-body">
      <p>Register for IT Career Week ticket before you attend the event!</p>
      <hr>
      <a href="https://www.eventbrite.com/e/it-career-week-mmu-2017-tickets-29195850575?aff=itcwresume" class="btn btn-default" target="_blank">Register on Eventbrite</a>
    </div>
  </div>
</div>