<div class="col-xs-12 col-lg-4">
  <div class="panel panel-danger">
    <div class="panel-heading">
      <h3 class="panel-title">Upload Resume</h3>
    </div>
    <div class="panel-body">
      <p><b>Status: Rejected</b></p>
      <div id="rejection-reason">
        <%= simple_format(@resume.rejection_reason) %>
      </div>
      <hr>
      <p>
        <%= link_to "Upload New", new_resume_path, class: 'btn btn-primary' %>
      </p>
      <%= link_to "Open Current Upload", open_resume_path %>
    </div>
  </div>
</div>
