<div class="col-xs-12 col-lg-4">
  <div class="panel panel-success">
    <div class="panel-heading">
      <h3 class="panel-title">Upload Resume</h3>
    </div>
    <div class="panel-body">
      <p>
        You can now print your resume on the spot and approach the employers. Simply provide the volunteer your student ID, and we will print you your resumes for free.
      </p>
      <p>
        For security reasons, we do not accept resume files in the form of USB drives.
      </p>
      <hr>
      <p>
        <%= link_to "Upload New", new_resume_path, class: 'btn btn-primary' %>
      </p>
      <%= link_to "Open Current Upload", open_resume_path %>
    </div>
  </div>
</div>
