<div class="row">
  <div class="col-xs-12 col-lg-4">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">
          Step 1: Reupload Resume
        </h3>
      </div>
      <div class="panel-body">
        <p>You have uploaded 1 resume.</p>
        <p>
          <%= link_to "Open Current Resume", open_resume_path, class: 'btn btn-default' %>
        </p>
        <p>
          <%= link_to "Upload New Resume", new_resume_path, class: 'btn btn-primary' %>
        </p>
        <p><small>Don't worry. You can always reupload a new resume later on.</small></p>
      </div>
    </div>

    
  </div>

  <div class="col-xs-12 col-lg-4">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">
          Step 2: Get Vetted
        </h3>
      </div>
      <div class="panel-body">
        <p>You resume looks great. Good luck job hunting!</p>
      </div>
    </div>
  </div>

  <div class="col-xs-12 col-lg-4">
    <div class="panel panel-success">
      <div class="panel-heading">
        <h3 class="panel-title">
          Step 3: Attend IT Career Week
        </h3>
      </div>
      <div class="panel-body">
        <p>Register on Eventbrite</p>
      </div>
    </div>
  </div>
</div>