<div class="row">
  <div class="col-xs-12 col-lg-4">
    <div class="panel panel-primary">
      <div class="panel-heading">
        <h3 class="panel-title">
          Step 1: Upload Resume
        </h3>
      </div>
      <div class="panel-body">
        <p>You haven't uploaded your resume yet!</p>
        <%= link_to "Upload Resume", new_resume_path, class: 'btn btn-primary' %>
        <p><small>Don't worry. You can always reupload a new resume later on.</small></p>
      </div>
    </div>

    
  </div>

  <div class="col-xs-12 col-lg-4">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">
          Step 2: Get Vetted
        </h3>
      </div>
      <div class="panel-body">
        <p>Once you have uploaded your resume, we will vet through it.</p>
        <p>If your resume looks great, it will be made available for exhibiting employers' perusal.</p>
        <p>We will e-mail you at <b><%= current_student.email %></b> if we have suggestions for you to improve. Check your MMU e-mail everyday!</p>
      </div>
    </div>
  </div>

  <div class="col-xs-12 col-lg-4">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">
          Step 3: Attend ITCW
        </h3>
      </div>
      <div class="panel-body">
        <p>Register on Eventbrite</p>
      </div>
    </div>
  </div>
</div>