<h1>Upload resume</h1>
<%= form_for @resume, url: resume_path, html: { multipart: true } do |form| %>
  <div class="form-group">
    <label>Nationality</label>
    <%= 
      collection_radio_buttons(:resume, :nationality, Resume.nationalities, :first, :first) do |b|
        content_tag(:div, class: :radio) do
          b.label { b.radio_button + b.text.humanize }
        end
      end 
    %>
  </div>

  <div class="form-group">
    <label>Looking For</label>
    <%= 
      collection_radio_buttons(:resume, :job_type, Resume.job_types, :first, :first) do |b|
        content_tag(:div, class: :radio) do
          b.label { b.radio_button + b.text.humanize }
        end
      end 
    %>
  </div>

  <div class="form-group">
    <label>Resume in .pdf format &lt;1MB size</label>
    <%= form.file_field :file %>
  </div>

  <button>Submit</button>
<% end %>
