<div class="page-header">
  <h1>Your Resume</h1>
</div>

<% if @resume.nil? %>
  <%= render 'not_submitted_yet' %>
<% elsif @resume.pending? %>
<%= render 'pending' %>
<% elsif @resume.approved? %>
  <%= render 'approved' %>
<% elsif @resume.rejected? %>
  <%= render 'rejected' %>
<% end %>
