<p>Hi <%= @recruiter_name %>,</p>

<p>Greetings from <a href="https://www.itcareerweek.org" target="_blank">Tech Career Days</a> team.</p>

<p>We are just a month away from the event, and we are pleased to inform that our centralised resume submission platform is ready.</p>

<p>The following is your credential needed for you to access the portal.</p>

<p>ID: <%= @recruiter_email %><br>
Password: <%= @password %></p>

<a class="button" href="https://resumetcd.herokuapp.com/resumes" target="_blank">Sign In To ITCW Resume</a>

<p>In this portal, you may review candidates’ resumes, which are categorized according to the type of employment they are seeking for (full-time or internship), and whether they are Malaysian or non-Malaysian.</p>

<p>Should any of the candidate(s) catches your attention - you may contact them prior to the event day or even set appointment to have the interview during the Tech Career Days itself. We are providing 2 interview booths that could be utilized by any of our participating employers throughout the day. No booking required.</p>

<p>We are hoping that this could improve the overall experience of the event, and do let us know should you have suggestion on how to make this better.</p>

<p>Thank you.</p>

<p>Regards,<br/>
Tech Career Days Team</p>
