<p>Hey there,</p>

<p>Congratz! Your resume looks great and is now made available for the recruiters to peruse.</p>

<h3>Free Resume Printing Service</h3>
<p>Simply provide your MMU student ID to the volunteers during the event, and you 
will get to print your resume on the spot for free. Due to security reasons, we 
do not accept resumes delivered in the form of USB drives.</p>

<h3>Register first, skip the queue</h3>
<p>Registration is compulsory for Tech Career Days. If you don't want to queue to 
fill out the form at the counter, register first and bring the ticket on that day.</p>

<p><a href="https://www.eventbrite.com/e/it-career-week-mmu-2017-tickets-29195850575?aff=resume-ok-email">Register on Eventbrite</a></p>

<p>Thanks,<br>
IT Society</p>
