<p>Hey there,</p>

<p>Your resume submitted to Tech Career Days has been rejected. Message from the volunteers:</p>

<%= simple_format(@resume.rejection_reason) %>

<p>Once you have edited your resume, visit <%= link_to "TCD Resume", 'https://resumetcd.herokuapp.com' %> to upload the new one.</p>

<p>Thanks,<br>
IT Society</p>