<table class="table table-hover hidden-xs">
  <thead>
    <tr>
      <th class="col-xs-2">Name</th>
      <th class="col-xs-1">Student ID</th>
      <th class="col-xs-1">Nationality</th>
      <th class="col-xs-2">Phone</th>
      <th class="class col-xs-2">E-mail Address</th>
      <th class="col-xs-3"></th>
      <th class="col-xs-1"></th>
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat="resume in resumes | filter:search_term" ng-cloak>
      <td><a href="{{ resume.file_url }}" target="_blank">{{ resume.student_name }}</a></td>
      <td>{{ resume.student_id }}</td>
      <td>{{ resume.nationality }}</td>
      <td><a href="tel:{{ resume.student_phone }}">{{ resume.student_phone }}</a></td>
      <td><a href="mailto:{{ resume.student_email }}">{{ resume.student_email }}</a></td>
      <td></td>
      <td><!-- a href="#" class="btn btn-xs btn-default">Bookmark</a --></td>
    </tr>
  </tbody>
</table>