<div class="container" ng-controller="resumes_index_controller" ng-init="init()">
  <!-- Desktop UI -->
  <div class="row hidden-xs">
    <div class="col-xs-8" >
      <input class="form-control" ng-model="search_term" placeholder="Search resume..." />
    </div>
    <div class="col-xs-4">
      <label>IT/CS</label>
      <input type="checkbox" id = "IT" checked>
      <label>Non IT/CS</label>
      <input type="checkbox" id = "non-IT">
    </div>
  </div>
  <%= render 'index_tables' %>
  <!-- Mobile friendly UI -->
  <div class="visible-xs">
    <%= render 'index_mobile' %>
  </div>
  <!-- Data -->
  <script type="application/json" id="resumes_json"><%= @resumes_json.html_safe %></script>

</div>
