.jumbotron {
  color: white;

  &.main {
    background: #0166b3;
  }

  &.secondary {
    color: black;
  }

  &.error {
    background: #E53935;
  }
}

.built-by-me {
  .show-when-hover {
    display: none;
  }

  &:hover .show-when-hover {
    display: inline;
  }
}

.btn.btn-transparent {
  background: rgba(1,1,1,0);
  color: white;
}
