.jumbotron {
  color: white;

  &.main {
    background: #0166b3;
  }

  &.error {
    background: #E53935;
  }
}

.built-by-me {
  .show-when-hover {
    display: none;
  }

  &:hover .show-when-hover {
    display: inline;
  }
}
