<h1>Login with your @student.mmu.edu.my address</h1>
<p>ITCW'17 Resume Uploader is only available for MMU students. Do these:</p>
<ol>
  <li>Open an Incognito Tab or private browsing.</li>
  <li>Visit this website again.</li>
  <li>Login with Google, then use your student.mmu.edu.my credentials.</li>
</ol>