<div class="jumbotron error">
  <div class="container">
    <h1>Oops!</h1>
    <h3>Please sign in to Google with your MMU account.</h3>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-xs-12 col-lg-8">
      <p>TCD Resume Uploader is only available for MMU students.</p>
      <p>If you are MMU student and haven't logged into your MMU Google account in your browser (and thus unable to choose MMU account at all), try these steps:</p>
      <ol>
        <li>Open an incognito tab or private browsing tab.</li>
        <li>Visit https://resumetcd.herokuapp.com/ again.</li>
        <li>Login with Google, make sure to use your student.mmu.edu.my credentials.</li>
      </ol>
      <p>If you believe this is an error, talk to us by clicking the bottom right corner button.</p>
    </div>
  </div>
</div>
