<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="/">TCD Resume</a>
    </div>

    <div class="navbar-collapse collapse">
      <ul class="nav navbar-nav">
        <li class="active">
          <%= link_to "Upload Resume", resume_path %>
        </li>
        <li>
          <a href="https://www.eventbrite.com/e/tech-career-days-mmu-tickets-39367831243?aff=tcdresume">Register For Ticket</a>
        </li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li>
          <%= link_to "Logout", destroy_student_session_path, method: :delete %>
        </li>
      </ul>
    </div>
  </div>
</nav>
