<!DOCTYPE html>
<html>
  <head>
    <title>ITCW Resume</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <div class="container">
      <%= yield %>
    </div>
    <!-- Live Chat Widget powered by https://keyreply.com/chat/ -->
    <!-- Advanced options: -->
    <!-- data-align="left" -->
    <!-- data-overlay="true" -->
    <script data-align="right" data-overlay="false" id="keyreply-script" src="//keyreply.com/chat/widget.js" data-color="#03A9F4" data-apps="JTdCJTIyZmFjZWJvb2slMjI6JTIyaXRjd21tdSUyMiwlMjJlbWFpbCUyMjolMjJpdHNvYy5tbXVAZ21haWwuY29tJTIyJTdE"></script>
  </body>
</html>
